@model ClassAssignments_Day2.Models.EmployeeInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
</head>
<body>
    <div>
        @using (Html.BeginForm("RegisterEmployee", "EmployeeInfo", FormMethod.Post))
        {
            <div>
                @Html.LabelFor(model => model.Name)
                @Html.TextBoxFor(model => model.Name)
            </div>
            <div>
                @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
            </div>
            <div>
                @Html.LabelFor(model => model.PhoneNumber)
                @Html.TextBoxFor(model => model.PhoneNumber)
            </div>
            <button type="submit">Register</button>
        }

    </div>
</body>
</html>
